<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markdig" version="0.15.6" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net461" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="5.3.0" targetFramework="net461" />
</packages>